[Desktop Entry]
Name=Steam
Comment=Application for managing and playing games on Steam
Comment[pt_BR]=Application for managing and playing games on Steam
Comment[bg]=Application for managing and playing games on Steam
Comment[cs]=Application for managing and playing games on Steam
Comment[da]=Application for managing and playing games on Steam
Comment[de]=Application for managing and playing games on Steam
Comment[el]=Application for managing and playing games on Steam
Comment[es]=Application for managing and playing games on Steam
Comment[fi]=Application for managing and playing games on Steam
Comment[fr]=Application for managing and playing games on Steam
Comment[hu]=Application for managing and playing games on Steam
Comment[it]=Application for managing and playing games on Steam
Comment[ja]=Application for managing and playing games on Steam
Comment[ko]=Application for managing and playing games on Steam
Comment[nl]=Application for managing and playing games on Steam
Comment[no]=Application for managing and playing games on Steam
Comment[pl]=Application for managing and playing games on Steam
Comment[pt_PT]=Application for managing and playing games on Steam
Comment[ro]=Application for managing and playing games on Steam
Comment[ru]=Application for managing and playing games on Steam
Comment[sv]=Application for managing and playing games on Steam
Comment[th]=Application for managing and playing games on Steam
Comment[tr]=Application for managing and playing games on Steam
Comment[uk]=Application for managing and playing games on Steam
Comment[vi]=Application for managing and playing games on Steam
Comment[zh_CN]=Application for managing and playing games on Steam
Comment[zh_TW]=Application for managing and playing games on Steam
Exec=/usr/games/steam -silent %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
Keywords=Games
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
RunHook=0
Hidden=true

[Desktop Action Store]
Name=Store
Name[pt_BR]=Store
Name[bg]=Store
Name[cs]=Store
Name[da]=Store
Name[de]=Store
Name[el]=Store
Name[es]=Store
Name[fi]=Store
Name[fr]=Store
Name[hu]=Store
Name[it]=Store
Name[ja]=Store
Name[ko]=Store
Name[nl]=Store
Name[no]=Store
Name[pl]=Store
Name[pt_PT]=Store
Name[ro]=Store
Name[ru]=Store
Name[sv]=Store
Name[th]=Store
Name[tr]=Store
Name[uk]=Store
Name[vi]=Store
Name[zh_CN]=Store
Name[zh_TW]=Store
Exec=/usr/games/steam steam://store

[Desktop Action Community]
Name=Community
Name[pt_BR]=Community
Name[bg]=Community
Name[cs]=Community
Name[da]=Community
Name[de]=Community
Name[el]=Community
Name[es]=Community
Name[fi]=Community
Name[fr]=Community
Name[hu]=Community
Name[it]=Community
Name[ja]=Community
Name[ko]=Community
Name[nl]=Community
Name[no]=Community
Name[pl]=Community
Name[pt_PT]=Community
Name[ro]=Community
Name[ru]=Community
Name[sv]=Community
Name[th]=Community
Name[tr]=Community
Name[uk]=Community
Name[vi]=Community
Name[zh_CN]=Community
Name[zh_TW]=Community
Exec=/usr/games/steam steam://url/SteamIDControlPage

[Desktop Action Library]
Name=Library
Name[pt_BR]=Library
Name[bg]=Library
Name[cs]=Library
Name[da]=Library
Name[de]=Library
Name[el]=Library
Name[es]=Library
Name[fi]=Library
Name[fr]=Library
Name[hu]=Library
Name[it]=Library
Name[ja]=Library
Name[ko]=Library
Name[nl]=Library
Name[no]=Library
Name[pl]=Library
Name[pt_PT]=Library
Name[ro]=Library
Name[ru]=Library
Name[sv]=Library
Name[th]=Library
Name[tr]=Library
Name[uk]=Library
Name[vi]=Library
Name[zh_CN]=Library
Name[zh_TW]=Library
Exec=/usr/games/steam steam://open/games

[Desktop Action Servers]
Name=Servers
Name[pt_BR]=Servers
Name[bg]=Servers
Name[cs]=Servers
Name[da]=Servers
Name[de]=Servers
Name[el]=Servers
Name[es]=Servers
Name[fi]=Servers
Name[fr]=Servers
Name[hu]=Servers
Name[it]=Servers
Name[ja]=Servers
Name[ko]=Servers
Name[nl]=Servers
Name[no]=Servers
Name[pl]=Servers
Name[pt_PT]=Servers
Name[ro]=Servers
Name[ru]=Servers
Name[sv]=Servers
Name[th]=Servers
Name[tr]=Servers
Name[uk]=Servers
Name[vi]=Servers
Name[zh_CN]=Servers
Name[zh_TW]=Servers
Exec=/usr/games/steam steam://open/servers

[Desktop Action Screenshots]
Name=Screenshots
Name[pt_BR]=Screenshots
Name[bg]=Screenshots
Name[cs]=Screenshots
Name[da]=Screenshots
Name[de]=Screenshots
Name[el]=Screenshots
Name[es]=Screenshots
Name[fi]=Screenshots
Name[fr]=Screenshots
Name[hu]=Screenshots
Name[it]=Screenshots
Name[ja]=Screenshots
Name[ko]=Screenshots
Name[nl]=Screenshots
Name[no]=Screenshots
Name[pl]=Screenshots
Name[pt_PT]=Screenshots
Name[ro]=Screenshots
Name[ru]=Screenshots
Name[sv]=Screenshots
Name[th]=Screenshots
Name[tr]=Screenshots
Name[uk]=Screenshots
Name[vi]=Screenshots
Name[zh_CN]=Screenshots
Name[zh_TW]=Screenshots
Exec=/usr/games/steam steam://open/screenshots

[Desktop Action News]
Name=News
Name[pt_BR]=News
Name[bg]=News
Name[cs]=News
Name[da]=News
Name[de]=News
Name[el]=News
Name[es]=News
Name[fi]=News
Name[fr]=News
Name[hu]=News
Name[it]=News
Name[ja]=News
Name[ko]=News
Name[nl]=News
Name[no]=News
Name[pl]=News
Name[pt_PT]=News
Name[ro]=News
Name[ru]=News
Name[sv]=News
Name[th]=News
Name[tr]=News
Name[uk]=News
Name[vi]=News
Name[zh_CN]=News
Name[zh_TW]=News
Exec=/usr/games/steam steam://open/news

[Desktop Action Settings]
Name=Settings
Name[pt_BR]=Settings
Name[bg]=Settings
Name[cs]=Settings
Name[da]=Settings
Name[de]=Settings
Name[el]=Settings
Name[es]=Settings
Name[fi]=Settings
Name[fr]=Settings
Name[hu]=Settings
Name[it]=Settings
Name[ja]=Settings
Name[ko]=Settings
Name[nl]=Settings
Name[no]=Settings
Name[pl]=Settings
Name[pt_PT]=Settings
Name[ro]=Settings
Name[ru]=Settings
Name[sv]=Settings
Name[th]=Settings
Name[tr]=Settings
Name[uk]=Settings
Name[vi]=Settings
Name[zh_CN]=Settings
Name[zh_TW]=Settings
Exec=/usr/games/steam steam://open/settings

[Desktop Action BigPicture]
Name=Big Picture
Exec=/usr/games/steam steam://open/bigpicture

[Desktop Action Friends]
Name=Friends
Name[pt_BR]=Friends
Name[bg]=Friends
Name[cs]=Friends
Name[da]=Friends
Name[de]=Friends
Name[el]=Friends
Name[es]=Friends
Name[fi]=Friends
Name[fr]=Friends
Name[hu]=Friends
Name[it]=Friends
Name[ja]=Friends
Name[ko]=Friends
Name[nl]=Friends
Name[no]=Friends
Name[pl]=Friends
Name[pt_PT]=Friends
Name[ro]=Friends
Name[ru]=Friends
Name[sv]=Friends
Name[th]=Friends
Name[tr]=Friends
Name[uk]=Friends
Name[vi]=Friends
Name[zh_CN]=Friends
Name[zh_TW]=Friends
Exec=/usr/games/steam steam://open/friends

